@import-normalize;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "ManRopeBold";
  src: local("Manrope"),
    url("./assets/fonts/manrope/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ManRopeMed";
  src: local("Manrope"),
    url("./assets/fonts/manrope/Manrope-Medium.ttf") format("truetype");
}